html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
  background-color: black;
}

body {
  height: 100%;
  line-height: 1;
  overflow: auto;
}

@font-face {
  font-family: "mantis";
  src: url('../fonts/mantis.otf') format('opentype');
}

@font-face {
  font-family: "gotham";
  src: url('../fonts/gotham.otf') format('opentype');
}

@font-face {
  font-family: "gothambold";
  src: url('../fonts/gothambold.otf') format('opentype');
}

@font-face {
  font-family: "gothamcondensed";
  src: url('../fonts/gothamcondensed.otf') format('opentype');
}

.main {
  position: relative;
  width: 60%;
  font-size: 13px;
  font-family: "gotham";
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

.main::before {
  position: absolute;
  right: 100%;
  width: 270px;
  height: 300px;
  content: "";
  background: url('../images/background.jpg') top left no-repeat;
}

.main > header {
  position: relative;
  padding: 69px 0 51px 0;
  text-align: center;
  font: normal 85px/70px "mantis";
  overflow: hidden;
  background: url('../images/logo2.png') 61px 16px no-repeat;
  background-size: 135px;
  background-color: white;
}
.main > header::after {
  position: absolute;
  top: 0;
  right: -112px;
  content: url('../images/logo1.png');
}

.main > header small {
  display: block;
  text-transform: uppercase;
  text-indent: 11px;
  font: normal 20px "gotham";
  letter-spacing: 11px;
}

.main > nav {
  position: relative;
  font-size: 14px;
  font-family: "gotham";
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.main > nav li {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.main > nav p,
.main > nav > ul > li:last-child a {
  min-width: 65px;
}
.main > nav p,
.main > nav a {
  display: inline-block;
  padding: 7px 15px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}
.main > nav .active,
.main > nav p:hover,
.main > nav a:hover {
  -webkit-box-shadow: 0px 10px 0px -8px black inset;
  -o-box-shadow: 0px 10px 0px -8px black inset;
  -moz-box-shadow: 0px 10px 0px -8px black inset;
  -ms-box-shadow: 0px 10px 0px -8px black inset;
  box-shadow: 0px 10px 0px -8px black inset;
}

.main > nav ul ul {
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  border: 1px solid black;
  border-top: 0;
  background-color: white;
  -webkit-transition: height 200ms;
  -o-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  transition: height 200ms;
  z-index: 1;
}
.main > nav ul ul .active,
.main > nav ul ul a:hover {
  font-family: "gothambold";
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.main > nav p {
  cursor: default;
}

.main > nav li:hover {
  overflow: visible;
}
.main > nav li:hover ul,
.main > nav li li {
  display: block;
}

.main > nav li:hover ul {
  height: 56px;
}

.main > section {
  margin-top: 28px;
  padding: 15px;
  background-color: white;
}

.picture {
  padding: 15px 0;
  text-align: center;
}
.picture img {
  max-width: 100%;
}

article {
  line-height: 20px;
}
article::after {
  display: block;
  clear: both;
  content: "";
}
article:not(:last-child) {
  margin-bottom: 15px;
}
.main > section h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "gothambold";
}
article h2 {
  font-size: 20px;
  padding-bottom: 10px;
}
article h2 + .picture {
  padding-top: 0;
}

article iframe {
  display: block;
  margin: 0 auto;
}
.avatar {
  float: left;
  clear: left;
}
.avatar {
  padding-right: 15px;
}
.avatar img {
  display: block;
}
article li {
  list-style-type: none;
  margin: 10px 0;
}
article li .focus {
  display: inline-block;
  width: 120px;
  margin-right: 4px;
  text-align: right;
  font-family: "gothambold";
}
article li .focus ~ p {
  margin-left: 124px;
}
article li .precision {
  margin-left: 4px;
  font-style: italic;
}
footer {
  background-color: white;
}

b {
  font-family: "gothambold";
}
.upper {
  text-transform: uppercase;
}

.hint {
  font-style: italic;
}

.hint::before {
  display: inline-block;
  content: "*";
  width: 20px;
  margin-right: 4px;
  text-align: right;
}

.hint.more::before {
  content: "**";
}
